{% extends "layout.html" %}
{% block  body %}
	{% if session.logged_in %}
	   {% for entry in entries %}
          <form action="/edit={{ id }}&edited=true" method="post" method=post class=add-entry>
              <dl>
               <dt>Title:
                <dd><input type=text size=30 name=title value="{{ entry.title }}">
                <dt>Text:
               <dd><textarea name=text rows=5 cols=40>{{ entry.text|safe }}</textarea>
               <dd><input type=submit value=Edit>
              </dl>
            </form>
     {%endfor%}
  {% endif %}
{% endblock %}