{% extends "layout.html" %}
{% block  body %}
  {% if session.logged_in %}
	<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
    {% if session.logged_in %}
        <a href="/entry={{ entry.id }}">Edit</a>
        <form action="/delete={{ entry.id }}" method=post>
            <input type="submit" value="Delete">
        </form>
        <form action="/entry={{ entry.id }}&move=up" method=post>
          <input type="submit" value="Up">
        </form>
        <form action="/entry={{ entry.id }}&move=down" method=post>
          <input type="submit" value="Down">
        </form>
    {% endif %}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}